{{liquid-outlet}}

<p class="page">
  {{portal-for name="slide-name"}}
  Slide {{num-inc model.currentIndex}} of {{model.count}}
</p>

{{#if model.nextPath}}
  {{link-to "Next" model.nextPath class="next"}}
{{/if}}

{{#if model.prevPath}}
  {{link-to "Previous" model.prevPath class="prev"}}
{{/if}}
