{{#db-slide}}
  <h2>Ember 1.11</h2>
  <hr>
  <h3><code>\{{component}}</code> helper</h3>
  <hr>
  <p>
    {{input type="checkbox" checked=isRed}}
  </p>
  <p>
    {{#if isRed}}
      {{red-square}}
    {{else}}
      {{green-square}}
    {{/if}}
  </p>
{{/db-slide}}
